<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Intro</title>
</head>
<body>
    <div id="myapp">
        <h1>Principios vue</h1>
        <p>{{message}}</p>
        <p>{{manager}}</p>

        <button v-on:click="changeMessage" >
            Change
        </button>

        <h1>Batman Quotes <small>{{newQuote}}</small> </h1>

        <!--uso de la directiva v-model para obtener el valor de un input-->
        <input type="text" v-model="newQuote" v-on:keypress.enter="addQuote"> <!--uso el modificador .enter-->

        <hr>

        <ul> <!--uso de la directiva v-for-->
            <li v-for="({quote,author},index) in citas"> <!--se desestructura el objeto del iterador-->
                <span>{{index+1}} {{quote}}</span>
                <blockquote>-{{author}}</blockquote>
            </li>
        </ul>
        
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
</body>
</html>